<!doctype html>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} - Flask Christmas</title>
<link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='locked-188.svg') }}">

<body >
<canvas id="canvas"></canvas>
<div class="more-snow">
  <main class="container">

    {% block navigation %}{% endblock %}

    <div class="wrapper">
      <div class="flip-card-inner ">
        <div class="beautiful">
          {% block header %} {{ title }}  {% endblock %}
        </div>
        {% block content %}{% endblock %}

      </div>

      <!-- Footer Pusher -->
      <div class="push"></div>

    </div>

    <!-- Footer -->
    <footer class="container-fluid">
      <small>Built with <3 by your boy • <a href="{{ url_for('main.imprint') }}" class="secondary">Imprint</a></small>
    </footer>
  </main>
</div>

<style>

  html, body {
    height: 100%;
    margin: 0;
  }

  /* beautiful fonts */
  @font-face {
    font-family: "beautiful-font";
    src: url("{{ url_for('static', filename='ImperialScript-Regular.ttf' ) }}");
  }
  .beautiful {
    text-align:center;
    font-family: "beautiful-font";
    font-size:4rem;
    background-color: white;
    background: white;
  }

  .grid-container {
    border-radius:5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(252,92,156, 0.4) !important;
    background-image: url("{{ url_for('static', filename="-canvas.png") }}");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
    color: white;
    padding: 10px;
    column-gap:2px;
    row-gap:2px;
  }
  .grid-container a {
    color: white;
  }
  .grid-item {
    border-radius:5px;
    background-color: rgba(252, 92, 156, 1);
    border: 1px solid rgba(0,0,0,0.3);
    padding: 15px;
    font-size: 1.6em;
    text-align: center;
  }
  .grid-item.open {
    background-color: rgba(252, 92, 156, 0.7);
  }
  .grid-item:hover {
    animation : pulse 1s infinite;
  }

  @keyframes pulse {
    from {
        transform : translate(0, 0);
    }
    20% {
        transform : translate(3px, 0px) rotate(0.5deg);
    }
    30% {
        transform : translate(-3px, 0px) rotate(-0.5deg);
    }
    40% {
        transform : translate(3px, 0px) rotate(0.5deg);
    }
    50% {
        transform : translate(-3px, 0px) rotate(-0.5deg);
    }
    60% {
        transform : translate(3px, 0px)  rotate(0.5deg);
    }
    to {
      transform : translate(0, 0);
    }
  }

  .wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }

  footer,
  .push {
    height: 50px;
  }

  footer {
     background: white;
     position: fixed;
     left: 0;
     bottom: 0;
     padding: 1em;
     width: 100%;
     text-align: center;
  }

  /* Door Cancel Buttons Animations */
  .locked-img{
    width:100px;
    height:100px;
  }
  .cancel-button {
    width:70px;
    height:70px;
  }
  .cancel-button {
    -webkit-transition: transform 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    -ms-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
  }
  .cancel-button:hover {
    transform: scale(1.3, 1.3);
  }

  /* Flip Card Css
    Gracefully stolen and modified from https://www.w3schools.com/howto/howto_css_flip_card.asp
  */
  .flip-card {
    min-height:40em;
    display: grid;
  }

  .flip-card-inner {
    margin: auto;
    background: white;
    position: relative;
    width: 98%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-back {
    text-align: center;
    transform: rotateY(180deg);
    background:white;
  }

  #flip-button {
    margin-top: 1em;
  }

  #door {
    padding: 2em;
    text-align:center;
   }

  body{margin:0;height:100%;background:#fffffa}
  canvas{
      z-index:1;
      pointer-events: none;
      position:absolute;top:0;left:0
  }

  #imprint {
    margin:20px auto;
    padding:1em;
    display:grid;
    justify-content:center;
  }
  #imprint p {
    text-align: center;
   }

</style>

<script>
/*
  Gracefully stolen from https://codepen.io/loktar00/pen/CHpGo
  https://engageinteractive.co.uk/blog/5-modern-snow-effects
*/

(function() {
    var requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame ||
    function(callback) {
        window.setTimeout(callback, 1000 / 60);
    };
    window.requestAnimationFrame = requestAnimationFrame;
})();

var flakes = [],
    canvas = document.getElementById("canvas"),
    ctx = canvas.getContext("2d"),
    flakeCount = 400,
    mX = -100,
    mY = -100

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

function snow() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    for (var i = 0; i < flakeCount; i++) {
        var flake = flakes[i],
            x = mX,
            y = mY,
            minDist = 150,
            x2 = flake.x,
            y2 = flake.y;

        var dist = Math.sqrt((x2 - x) * (x2 - x) + (y2 - y) * (y2 - y)),
            dx = x2 - x,
            dy = y2 - y;

        if (dist < minDist) {
            var force = minDist / (dist * dist),
                xcomp = (x - x2) / dist,
                ycomp = (y - y2) / dist,
                deltaV = force / 2;

            flake.velX -= deltaV * xcomp;
            flake.velY -= deltaV * ycomp;

        } else {
            flake.velX *= .98;
            if (flake.velY <= flake.speed) {
                flake.velY = flake.speed
            }
            flake.velX += Math.cos(flake.step += .05) * flake.stepSize;
        }

        ctx.fillStyle = "rgba(255,255,255," + flake.opacity + ")";
        flake.y += flake.velY;
        flake.x += flake.velX;

        if (flake.y >= canvas.height || flake.y <= 0) {
            reset(flake);
        }

        if (flake.x >= canvas.width || flake.x <= 0) {
            reset(flake);
        }

        ctx.beginPath();
        ctx.arc(flake.x, flake.y, flake.size, 0, Math.PI * 2);
        ctx.fill();
    }
    requestAnimationFrame(snow);
};

function reset(flake) {
    flake.x = Math.floor(Math.random() * canvas.width);
    flake.y = 0;
    flake.size = (Math.random() * 3) + 2;
    flake.speed = (Math.random() * 1) + 0.5;
    flake.velY = flake.speed;
    flake.velX = 0;
    flake.opacity = (Math.random() * 0.5) + 0.3;
}

function init() {
    for (var i = 0; i < flakeCount; i++) {
        var x = Math.floor(Math.random() * canvas.width),
            y = Math.floor(Math.random() * canvas.height),
            size = (Math.random() * 3) + 2,
            speed = (Math.random() * 1) + 0.5,
            opacity = (Math.random() * 0.5) + 0.3;

        flakes.push({
            speed: speed,
            velY: speed,
            velX: 0,
            x: x,
            y: y,
            size: size,
            stepSize: (Math.random()) / 30,
            step: 0,
            opacity: opacity
        });
    }

    snow();
};

canvas.addEventListener("mousemove", function(e) {
    mX = e.clientX,
    mY = e.clientY
});

window.addEventListener("resize",function(){
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
})

init();
</script>

</body>

