{% extends 'base.html' %}

{% block navigation %}
    <div style="text-align:center; padding:1em;">
        <a href="{{ url_for('main.main') }}">
            <img class="cancel-button" src="{{ url_for('static', filename='cancel.svg') }}"/>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div id="door">
        <h1>{% block title %} Door {{ post['door_number'] }}  {% endblock %}</h1>
        {% if is_locked %}
            <p id="quote">Unfortunately this door is locked.</p>
            <img class="locked-img" src="{{ url_for('static', filename='locked-188.svg') }}"/>
        {% else %}
            <p id="quote"><span class="big">"</span>{{ post['door_quote'] }}<span class="big">"</span>
        {% endif %}
    </div>
{% endblock %}