{% extends 'base.html' %}

{% block content %}
    <div id="imprint">
        <h1 class="beautiful">Imprint</h1>
        <div>
            <p >
                This tool is made with <3 by Nick Schulze<br><br>
                <a href="mailto:nickschulzefunk@gmail.com">Contact me if you want to.</a><br>
                <a href="mailto:nickschulzefunk@gmail.com">Find the code repository here.</a>
            </p>
            <h3>Tools I used and I wish to thank</h3>
            <ul>
                <li><a href="https://picocss.com" class="secondary">Pico Css - for making quick and beautiful css</a></li>
                <li><a href="https://flask.palletsprojects.com/en/2.0.x/" class="secondary">Flask - for a simple web framework</a></li>
                <li><a href="https://iconscout.com/icon/locked-188" class="secondary">Elegant Themes - for a hard to unlock 'locked' icon</a></li>
                <li><a href="https://iconscout.com/icon/close-152" class="secondary">Elegant Themes - for a cool looking 'close' icon</a></li>
                <li><a href="https://fonts.google.com/specimen/Imperial+Script" class="secondary">Imperial Script - for beautified fonts</a></li>
            </ul>
            <p>
                <a href="{{ url_for('main.main') }}">Back to main page</a>
            </p>
        </div>
    </div>

{% endblock %}