{% extends 'base.html' %}

{% block header %}
  <h1 class="beautiful">{% block title %} {{ title }} {% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front grid-container ">
                {% for door in doors %}
                    <div class="grid-item {% if door['is_open'] %}open{% endif %} ">
                        <a href="{{ url_for('main.door', door_number=door['door_number']) }}"><div>{{ door['door_number'] }}</div></a>
                    </div>
                {% endfor %}
            </div>
            <div class="flip-card-back">
                <div>
                    {% for content in card_content %}
                        <p>{{ content }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <button id="flip-button" onclick="flip()">Click Me</button>

<script>
    function flip() {
        flip_card = document.getElementsByClassName('flip-card')[0];
        if(flip_card.classList.contains("flip")) {
            flip_card.classList.remove('flip');
        }
        else {
            flip_card.classList.add('flip');
        }
    }
</script>
{% endblock %}

